h1{
    color: rgb(146, 5, 99);
    text-align: center;
    background-color: rgb(182, 144, 174);
    text-shadow: 5px 5px 10px rgb(28, 182, 230);
  
}
h2{
    color: rgb(23, 1, 48);
    text-align: center;
    text-shadow: 5px 5px 10px rgb(236, 18, 218);
}
h3{
    color: rgb(99, 6, 37);
    
}
body{
    background-color: rgb(247, 243, 191);
}
label{
    color: rgb(6, 6, 46);
}
input{
    background-color: rgb(238, 243, 165);
}
img{
    display: block;
    margin: 0px auto;
   }